@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dancing+Script&family=Pacifico&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  /* font-family: "Pacifico", cursive; */
  font-family: "Dancing Script", cursive;
}

.main-title {
  font-family: "Dancing Script", cursive;
}

.MuiFormLabel-root {
  margin: 5px 0;
  font-weight: bold !important;
}

h1 {
  font-size: 48px;
}

a {
  color: inherit;
}

/* @media (max-width: 991px) {
  p,
  a {
    font-size: 12px;
  }
} */
